.btn-primary {
  background-color: #fce38a;
  border-color: #fce38a;
  color: white;
}

.btn-primary:hover {
  background-color: #f9d976;
  border-color: #f9d976;
  color: white;
}

.btn-primary:active:focus {
  background-color: #fbbf59;
  border-color: #fbbf59;
  color: white;
}

.btn-outline-primary {
background-color: transparent;
  border-color: #fce38a;
  border-width: 2px;
  color: white;
}

.btn-outline-primary:hover {
background-color: transparent;
  border-color: #f9d976;
  border-width: 2px;
  color: white;
}

.btn-outline-primary:active:focus {
background-color: transparent;
  border-color: #fbbf59;
  border-width: 2px;
  color: white;
}

.btn-outline-secondary {
  border-color: #738488;
  border-width: 2px;
  color: #738488;
}

.btn-outline-secondary:hover {
  background-color: transparent;
  border-color: #667579;
  color: #667579;
}

.btn-outline-secondary:active:focus {
  background-color: transparent;
  border-color: #aaa999;
  color: #aaa999;
}