#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.loginLogo{
  margin-bottom: 20px;
  text-align: center;
  margin: 0 15px;
}

.buttonContainer{
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
  gap: 10px;
}

.inputContainer{
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
  gap: 10px;
  margin-bottom: 20px;
}

p{
  color: #aaa999;
}

h2{
  font-size: medium;
}

input{
  background-color: #fff7ef;
  border-color: #fce38a;
  color: #738488;
  width: 300px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 15px;
  border-style: solid;
  padding-left: 15px;
}

button[name="loginPage"]{
  width: 300px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 15px;
}

