.wrapper{
    width: 600px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -300px;
    margin-bottom: 10px;
}

.pages{
    display: flex;
    justify-content: center;
    font-size: 200%;
    gap: 5%;
}

span{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.buttonLogo{
    height: 50px;
    width: 50px;
}

.pages p{
    color:#5c6a6d;
    font-weight: bolder;
}

button[name="navbarButton"]{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}