.recordingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button[name="recordButton"]{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

button[name="uploadButton"]{
    width: 300px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 40px;
    background-color: #ff6f3c;
    border-color: #ff6f3c;
}

button[name="uploadButton"]:hover{
    background-color: #da6034;
    border-color: #da6034;
}

button[name="uploadButton"]:active:focus{
    background-color: #ffe2d8;
    border-color: #ffe2d8;
}

button[name="cancelButton"]{
    color: #ff6f3c;
    border-color: #ff6f3c;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 0.2);
}

button[name="cancelButton"]:hover{
    border-color: #da6034;
    color: #da6034;
}

button[name="cancelButton"]:active:focus{
    border-color: #ffe2d8;
    color: #ffe2d8;
}

h1{
    font-weight: bold;
}   
.cancelDiv{
    position: fixed;
    top: 10px;
    right: 10px;
}

.logoContainer {
    text-align: left;
}

.logoContainer p, h1{
    margin-left: 20px;
}